.main-1{
    height: 8000px;
    width: 1890px;
    color: white;
    background-image: url('./img/472051.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-attachment: fixed;
}
.main-2{
    height: 8000px;
    width: 1890px;
    color: white;
    background-image: url('./img/pexels-pixabay-33045.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-attachment: fixed;
}

