.main-1{
    height: 800px;
    width: 1890px;
    color: white;
    background-image: url('./img/img1.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-attachment: fixed;
}
.main-2{
    height: 800px;
    width: 1890px;
    color: white;
    background-image: url('./img/img2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-attachment: fixed;
}
.main-3{
    height: 800px;
    width: 1890px;
    color: white;
    background-image: url('./img/img3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-attachment: fixed;
}


